
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

.konTitle {
    font-size: 46px;
    text-align: center;
}

.konCodeCon {
    width: fit-content;
    margin: 60px auto;
}

.boldCode {
    font-weight: bold;
}

.konSymbolCon {
    display: inline-block;
    padding-right: 28px;
}

.konSymbolEmpty {
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 38px;
}

.konSymbol {
    color: black;
}

@keyframes moveTitle {
    0% {transform: rotateY(20deg);}
    50% {transform: rotateY(-20deg);}
    100% {transform: rotateY(20deg);}
}

.winTitle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    animation: moveTitle 2s infinite;
}