
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

.konTitle {
    font-size: 46px;
    text-align: center;
}

.konCodeCon {
    width: fit-content;
    margin: 60px auto;
}

.boldCode {
    font-weight: bold;
}

.konSymbolCon {
    display: inline-block;
    padding-right: 28px;
}

.konSymbolEmpty {
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 38px;
}

.konSymbol {
    color: black;
}

@keyframes moveTitle {
    0% {transform: rotateY(20deg);}
    50% {transform: rotateY(-20deg);}
    100% {transform: rotateY(20deg);}
}

.winSec {
    text-align: center;
}

.winTitle {
    font-size: 50px;
    font-weight: bold;
    animation: moveTitle 2s infinite;
}

.winButton {
    background: rgb(0, 132, 255);
    color: white;
    border: 1px solid rgb(0, 132, 255);
    font-size: 32px;
    border-radius: 5px;
    padding: 2px;
    margin: 16px auto;
}

.winButton:hover {
    cursor: pointer;
    background: rgb(1, 91, 175);
    border: 1px solid rgb(1, 91, 175);
}

.hidden {
    display: none;
}